---
// components
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import AboutCard from "../components/AboutCard.astro";
import Objective from "../components/Objective.astro";
import Program from "../components/Program.astro";
import Carousel from "../components/Carousel.astro";
import ContactCard from "../components/ContactCard.astro";

// icons
import {
  Care,
  Eco,
  Just,
  Participation,
  Rights,
  Together,
  Welfare,
} from "../assets/icons";

// images
const aboutImages = await Astro.glob("/src/assets/images/about/*");
const programOne = await Astro.glob("/src/assets/images/programs/1/*");
const programTwo = await Astro.glob("/src/assets/images/programs/2/*");
const programThree = await Astro.glob("/src/assets/images/programs/3/*");
const programFour = await Astro.glob("/src/assets/images/programs/4/*");
---

<Layout>
  <div id="hero" class="flex flex-col justify-center">
    <div class="content text-center">
      <span class="text-gray-300 text-4xl"style={{ fontFamily: "'Philosopher', sans-serif" }}>Welcome To</span>
      <div class="text-5xl md:text-7xl mt-8 md:mt-12">
        <h1
          class="mb-2 text-primary uppercase tracking-wider font-bold"
          style={{ fontFamily: "'Philosopher', sans-serif" }}
        >
          Lokmangal
        </h1>
        <span class="text-gray-200 font-regular tracking-widest text-5xl md:text-7xl leading-tight" style={{ fontFamily: "'Philosopher', sans-serif"}}> sanstha ghot</span>
      </div>
    </div>
  </div>

  <Section
    id="about"
    title="About Us"
    titleSubText="Empowering Lives, Inspiring Change"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <p>
          Lokmangal stands for the total development of people. Lokmangal is a
          non-profitable social organization born out of the concept of holistic
          health of women and the comprehensive development of the rural people
          and from their struggles to achieve these goals. The organization
          works preserving the eternal truth of equality, socialjustice and
          brotherhood. Respect for one another, national integration, unity in
          diversity are the basic principles the organization upholds.
        </p>
      </div>
      <div>
        <img
          class="rounded-md h-full mx-auto shadow-md"
          src={aboutImages[2].default}
          alt="about image"
        />
      </div>
      <AboutCard title="Vision" icon="fa-solid fa-eye">
        <p class="text-left">
          A prosperous community where women enjoy holistic health and every
          individual lives with dignity that leads to a society free from
          injustice, exploitation and corruption, giving way to equality, social
          justice and harmony
        </p>
      </AboutCard>
      <AboutCard title="Mission" icon="fa-brands fa-get-pocket">
        <ol class="list-decimal text-left">
          <li>To empower women, making them centre of development.</li>
          <li>
            To bring about sustainable village development through local
            leadership and people’s organization.
          </li>
        </ol>
      </AboutCard>
    </div>
  </Section>

  <Section
    id="objectives"
    title="Objectives"
    titleSubText="Building Resilient Communities for a Sustainable Future"
  >
    <div
      class="flex flex-wrap justify-center md:gap-x-4 lg:gap-x-12 md:gap-y-4 w-full"
    >
      <Objective
        content="To address women’s issues, through systematic capacity building and by formation of women’s organization."
        icon={Together}
      />

      <Objective
        content="To provide legal assistance to fight for social justice and human rights."
        icon={Just}
      />

      <Objective
        content="To increase the active participation of women in the gramsabha and in the process of development and decision making."
        icon={Participation}
      />

      <Objective
        content="To strengthen the right based movements through local leadership and people’s organization."
        icon={Rights}
      />

      <Objective
        content="To provide care and protection to women and children who are trapped in the moral, social, or familial problems and rehabilitate them to lead a healthy life."
        icon={Care}
      />

      <Objective
        content="To motivate people for collective responsibility in promoting environment and bio-diversity and its proper management."
        icon={Eco}
      />

      <Objective
        content="To improve the living conditions and health status of the rural poor, conduct community health activities, and social welfare programs."
        icon={Welfare}
      />
    </div>
  </Section>

  <Section
    id="programs"
    className="bg-secondary"
    title="Government Sponsored Programs"
    titleSubText="Driving Positive Change through Government Support"
  >
    <div class="grid grid-flow-row lg:grid-flow-col">
      <!-- Buttons -->
      <div
        class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-1 lg:w-40 lg:h-[10%]"
      >
        <button value="prog-1" class="program-btn active">
          Mathoshri Swadhar Greh
        </button>
        <button value="prog-2" class="program-btn"> Ahilyadevi Balsadan</button>
        <button value="prog-3" class="program-btn">Legal Aid</button>
        <button value="prog-4" class="program-btn">
          Community Development</button
        >
      </div>

      <!-- Content -->
      <Program
        id="prog-1"
        title="Mathoshri Swadhar Greh for women in distress:"
      >
        <ul slot="content" class="list-disc ml-4">
          <li>
            Provide shelter and support to women who are bearing the brunt of
            social, moral and family problems and violence.
          </li>
          <li>
            Individual and family counseling, legal assistance, vocational
            training, formal & non-formal education, personality development and
            social awareness programs by which they are rehabilitated to lead a
            healthy normal life and get back in to the main stream of the
            society.
          </li>
          <li>
            The inmates of this home are provided all the facilities free of
            cost.
          </li>
        </ul>
        <Carousel photos={programOne.map((program) => program.default)} />
      </Program>

      <Program
        id="prog-2"
        title="Ahilyadevi Balsadan:"
        className="hidden opacity-0"
      >
        <div slot="content">
          <p>
            To prepare the less privileged children as responsible future
            citizens.
          </p>
          <ul class="ml-4 list-disc">
            <li>
              A home away from home children- orphan, nobody to support, in
              moral danger- who are in need of care and protection.
            </li>
            <li>
              These children are given care and protection, education and bring
              them up in a family atmosphere, children between the age of 6- 18
              are given admission in this home.
            </li>
            <li>
              Besides formal education they are given vocational trainings,
              programs for personality development and social awareness,
              training in Karate, are part of this home.
            </li>
          </ul>
          <p>
            Sponsored by women and child welfare Dept. state of Maharashtra.
          </p>
        </div>
        <Carousel photos={programTwo.map((program) => program.default)} />
      </Program>

      <Program id="prog-3" title="Legal Aid" className="hidden opacity-0">
        <div slot="content">
          <ul class="ml-4 list-disc">
            <li>
              The Centre stand by women to fight against atrocities and violence
              against them and to fight for their rights.
            </li>
            <li>
              provide legal assistance for women, tribals and other vulnerable
              people through legal litigation.
            </li>
            <li>
              Provide legal awareness and education to people about day to day
              useful and basic laws.
            </li>
          </ul>
          <p>
            Bring to the compromising table the matrimonial disputes and settle
            them with the consent of both the parties.
          </p>
        </div>
        <Carousel photos={programThree.map((program) => program.default)} />
      </Program>

      <Program
        id="prog-4"
        title="Comprehensive Community Development programs:"
        className="hidden opacity-0"
      >
        <div slot="content">
          <p>
            With the intension that the people take up the responsibility for
            development and administration of justice in the community and in
            that process women take active participation and leadership, the
            organization works to create awareness, motivation and capacity
            building program to people at grass root level.
          </p>
          <ul class="ml-4 list-disc">
            <li>
              Through women self-help groups and panchayati raj programs develop
              capacities of women and empower them.
            </li>
            <li>
              To empower gramsabha through active participation of people in
              decision making, planning, implementation and control of natural
              resources and development programs.
            </li>
            <li>
              To improve the community health with special focus on mother and
              infant care.
            </li>
            <li>
              Generate employment for sustainable livelihood by proper
              management through community participation.
            </li>
            <li>
              Environment protection, promotion and bio- diversity management
              through community participation.
            </li>
            <li>
              To encourage the traditional and proper use of home remedies and
              herbal medicines.
            </li>
          </ul>
        </div>
        <Carousel photos={programFour.map((program) => program.default)} />
      </Program>
    </div>
  </Section>

  <Section
    id="contact"
    title="Contact Us"
    titleSubText="Get in Touch - Let's Make a Difference Together"
  >
    <div class="md:flex justify-evenly">
      <ContactCard title="Call Us" icon="fa-solid fa-phone">
        <p class="text-sm mb-4 text-gray-500" slot="subtext">
          Get in touch<br />Your support matters
        </p>
        <ol class="list-none text-sm">
          <li class="pb-2">
            <a href="tel:+919892494784">+91 9892494784</a>
          </li>
          <li>
            <a href="tel:+9199637415885">+91 9637415885</a>
          </li>
        </ol>
      </ContactCard>
      <ContactCard title="Email" icon="fa-solid fa-envelope">
        <p class="text-sm mb-4 text-gray-500" slot="subtext">
          Drop us an email<br />Let's change lives together
        </p>
        <ol class="list-none text-sm">
          <li>
            <a href="mailto:lokmangalghot@gmail.com">
              lokmangalghot@gmail.com
            </a>
          </li>
        </ol>
      </ContactCard>
      <ContactCard title="Address" icon="fa-solid fa-location-dot">
        <ol class="list-none text-sm">
          <li class="pb-2">Lokmangal Sanstha, Ghot. P.O.,</li>
          <li class="pb-2">Th. Chamorshi. Dt. Gadachiroli, 442-604;</li>
          <li class="pb-2">Maharashtra, India</li>
          <li>Reg.No. F 3530/5/92 ( Ch )</li>
        </ol>
      </ContactCard>
    </div>
  </Section>

  <!-- Map -->
  <iframe
    title="google map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15014.570907431722!2d79.98908878616251!3d19.812739841195768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2d0f28475f3e29%3A0x5886746b63da4259!2sGhot%2C%20Maharashtra%20442604!5e0!3m2!1sen!2sin!4v1690469608362!5m2!1sen!2sin"
    class="mx-auto w-full h-96"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <button id="scrollBtn" title="Go to top">
    <i class="fa-solid fa-angles-up fa-md" style="color: #ffffff;"></i>
  </button>
</Layout>

<style>
  :root {
    --hero-opacity: 0.5;
  }
  #hero {
    height: 70vh;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, var(--hero-opacity)),
        rgba(0, 0, 0, var(--hero-opacity))
      ),
      url(../assets/images/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .program-btn {
    background-color: black;
    color: white;
    @apply rounded-md;
  }
  .program-btn.active {
    @apply bg-primary;
  }
  @media screen and (max-width: 768px) {
    .program-btn {
      padding: 0.5rem 1.25rem;
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
  @media screen and (min-width: 768px) {
    .program-btn {
      padding: 0.75rem 0rem;
      margin: 0.75rem 1.5rem 0.75rem 0px;
    }
  }

  #scrollBtn {
    height: 40px;
    width: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transform: scaleY(0);
    transition: all 0.4s ease-in-out;
    @apply bg-primary;
  }
  #scrollBtn:hover {
    background-color: #262626;
  }
</style>

<script src="../scripts/"></script>
