---
// fontawesome
import "../assets/vendors/fontawesome/all.min.css";
// components
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import AboutCard from "../components/AboutCard.astro";
import Objective from "../components/Objective.astro";

// icons
import Care from "../assets/images/care.svg";
import Just from "../assets/images/social.svg";
import Together from "../assets/images/together.svg";
import Eco from "../assets/images/eco.svg";
import Rights from "../assets/images/rights.svg";
import Participation from "../assets/images/participation.svg";
import Welfare from "../assets/images/welfare.svg";
---

<Layout>
	<Navbar />

	<div id="hero"></div>

	<Section
		title="About Us"
		titleSubText="There are many variations of passages of Lorem Ipsum available, but the majority have"
	>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<div>
				<p>
					Lokmangal stands for the total development of people.
					Lokmangal is a non-profitable social organization born out
					of the concept of holistic health of women and the
					comprehensive development of the rural people and from their
					struggles to achieve these goals. The organization works
					preserving the eternal truth of equality, socialjustice and
					brotherhood. Respect for one another, national integration,
					unity in diversity are the basic principles the organization
					upholds.
				</p>
			</div>
			<div class="placeholder"></div>
			<AboutCard title="Vision" icon="fa-solid fa-eye">
				<p class="text-left">
					A prosperous community where women enjoy holistic health and
					every individual lives with dignity that leads to a society
					free from injustice, exploitation and corruption, giving way
					to equality, social justice and harmony
				</p>
			</AboutCard>
			<AboutCard title="Mission" icon="fa-brands fa-get-pocket">
				<ol class="list-decimal text-left">
					<li>
						To empower women, making them centre of development.
					</li>
					<li>
						To bring about sustainable village development through
						local leadership and people’s organization.
					</li>
				</ol>
			</AboutCard>
		</div>
	</Section>

	<Section
		title="Objectives"
		titleSubText="There are many variations of passages of Lorem Ipsum available, but the majority have"
	>
    <div class="flex flex-wrap justify-center md:gap-x-4 lg:gap-x-12 md:gap-y-4 w-full">
      <Objective 
        content="To address women’s issues, through systematic capacity building and by formation of women’s organization."
        icon={Together}
      />

      <Objective 
        content="To provide legal assistance to fight for social justice and human rights."
        icon={Just}
      />

      <Objective 
        content="To increase the active participation of women in the gramsabha and in the process of development and decision making."
        icon={Participation}
      />

      <Objective 
        content="To strengthen the right based movements through local leadership and people’s organization."
        icon={Rights}
      />

      <Objective 
        content="To provide care and protection to women and children who are trapped in the moral, social, or familial problems and rehabilitate them to lead a healthy life."
        icon={Care}
      />

      <Objective 
        content="To motivate people for collective responsibility in promoting environment and bio-diversity and its proper management."
        icon={Eco}
      />

      <Objective 
        content="To improve the living conditions and health status of the rural poor, conduct community health activities, and social welfare programs."
        icon={Welfare}
      />

    </div>
    
	</Section>
	<Section
		className="bg-secondary"
		title="Government Sposored Programs"
		titleSubText="There are many variations of passages of Lorem Ipsum available, but the majority have"
	>
		<div class="grid grid-flow-row lg:grid-flow-col">
			<div class="flex lg:flex-col justify-between">
				<button class="bg-primary text-white text-">Program 1</button>
				<button>Program 2</button>
				<button>Program 3</button>
			</div>
			<div class="grid grid-flow-row lg:grid-flow-col">
				<div class="program-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Odio a animi sed, enim provident maxime doloremque culpa
					dicta similique aperiam voluptas deleniti commodi quae
					dolore debitis, id eveniet sit esse impedit minus. Velit
					odio placeat magnam, non dignissimos laborum. Dolor
					obcaecati voluptatem ipsam quasi sint perferendis
					reprehenderit necessitatibus, ut vel.
				</div>
				<div class="program-images bg-white">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Cumque unde expedita accusamus odio aspernatur, ab totam ea
					quisquam omnis dolorem animi excepturi in fuga quidem,
					distinctio, minima nemo? Dolorum non voluptates quia rerum
					nam accusantium obcaecati eaque hic asperiores sapiente illo
					delectus commodi odio, a magnam perferendis ducimus rem
					nemo.
				</div>
			</div>
		</div>
	</Section>
</Layout>

<!-- Temp Styles -->
<style>
	#hero {
		height: 70vh;
		width: 100%;
		@apply bg-secondary;
	}
	.placeholder {
		height: 100%;
		width: 100%;
		background-color: grey;
	}
</style>
